header {
    color: rgb(0, 238, 255);
    background-color: black;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
main{
    color: rgb(119, 32, 160);
    background-color: rgb(255, 255, 255);
    max-width: 800px;
    margin: 0 auto;
}